/**
 * GitStats - default style
background-color: #88BC1A;
 */
body {
	color: black;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

dt {
	font-weight: bold;
	float: left;
	margin-right: 1em;
}

dt:after {
	content: ': ';
}

dd {
	display: block;
	clear: left;
}

table {
	width:100%;
	clear:both;
}

/* Navigation bar; tabbed style */
.main-nav {
	margin:20px;
}

.main-nav li a {
	padding: 0.3em;
	margin: 0.5em;
	font-size:20px;
}

.main-nav li a:hover {
	background-color: #ddd;
	border-bottom: 1px solid #ddf;
}

h2 {
	margin:60px 0px 20px 0px;
	clear:both;
}
.plot {
	margin: 60px auto;
	height: 450px;
}
.plot table.jqplot-table-legend {
	width:auto;
}

.heat-table tr {
	height:12.5%;
}
.heat-table tr th, .heat-table tr td {
	width:4%;
	vertical-align:middle;
	text-align:center;
	border-right:1px solid #ddd;
}

.heat-table tr td.data {
	color:#ddd;
}
h2.heat-table-heading {
	text-align:center;
	color:#666;
	font-size:1.6em;
	font-weight:normal;
}
